flows.json
[
    {
        "id": "7393dfd37d77527f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ad7ec40008a2f90",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "",
                "name": ""
            }
        ]
    },
    {
        "id": "d421b6c73b08ffba",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.1",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "DB2,INT0",
                "name": "contador"
            },
            {
                "addr": "DB2,X2.0",
                "name": "verde"
            },
            {
                "addr": "DB2,X2.1",
                "name": "rojo"
            },
            {
                "addr": "DB2,X2.2",
                "name": "ambar"
            },
            {
                "addr": "DB2,INT4",
                "name": "disponibles"
            }
        ]
    },
    {
        "id": "5b0daa5066cdab81",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0e5df2a0a75ab5ba",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b9e872cc2d1c4eb2",
        "type": "ui_group",
        "name": "",
        "tab": "5b0daa5066cdab81",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "720ff746bf046656",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "5b0daa5066cdab81",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "7d995465ee7c71d4",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "6092d1c7122722ec",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7d995465ee7c71d4",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b78a9ce0064efcfd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "pruebas_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "c2ed339dfc400ff0",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.1",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "",
                "name": ""
            }
        ]
    },
    {
        "id": "f1e1ebb0f0a632d1",
        "type": "function",
        "z": "7393dfd37d77527f",
        "name": "w_DB",
        "func": "let capacidad = msg.payload;\n\nlet tzoffset = (new Date()).getTimezoneOffset()*60000;\nlet fecha = (new Date(Date.now() - tzoffset)).toISOString().slice(0,-1);\n\n\nmsg.topic = \"INSERT INTO garaje VALUES('\"+fecha+\"','\"+capacidad+\"' )\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "81ca6af651544bea"
            ]
        ]
    },
    {
        "id": "81ca6af651544bea",
        "type": "mysql",
        "z": "7393dfd37d77527f",
        "mydb": "b78a9ce0064efcfd",
        "name": "pruebas-DB",
        "x": 670,
        "y": 200,
        "wires": [
            [
                "6d0dbbac135b0825"
            ]
        ]
    },
    {
        "id": "6d0dbbac135b0825",
        "type": "debug",
        "z": "7393dfd37d77527f",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "e5a9f170c21eba7c",
        "type": "s7 in",
        "z": "7393dfd37d77527f",
        "endpoint": "d421b6c73b08ffba",
        "mode": "single",
        "variable": "disponibles",
        "diff": true,
        "name": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "f1e1ebb0f0a632d1"
            ]
        ]
    }
]